@model IEnumerable<ASPNET_WebApp_MVC.Models.InputFile2>;
@{
    ViewData["Title"] = "File #2";
}

<br /><br />
<h1>@ViewData["Title"]</h1>


<br /><br />
<h3>Original</h3>

    <table class="simple-table">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Currency</th>
            <th>Custodian Code</th>
        </tr>
        @foreach(InputFile2 item in Model)
        {
        <tr>
            <td>@item.Name</td>
            <td>@item.Type</td>
            <td>@item.Currency</td>
            <td>@item.CustodianCode</td>
        </tr>
        }
    </table>

<br />
<a asp-area="" asp-controller="File2" asp-action="Results">Translate</a>

<br /><br />